{% extends 'base.html' %}


{% block title %}{% endblock title %}


{% block content %}




<div class="row">
    <ol class="breadcrumb my-2">
        <li class="breadcrumb-item"><a href="{% url 'mainsite:home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'literature:journal-list' %}">Journals</a></li>
        <li class="breadcrumb-item"><a href="{% url 'literature:journal-detail' object.journal.slug %}"> {{object.journal.name}} </a></li>
        <li class="breadcrumb-item active">{{ object.name }}</li>
    </ol>
</div>

<div class="row align-items-end my-3 border border-success py-3 bg-white shadow-sm">
    <div class="col-md-2">
        <img class="img-fluid" src="{{ object.f_cover.url }}" alt="issue cover">
    </div>
    <div class="col-md-10">
        <h3 class="display-6" >{{ object.name }}</h3>
        <p class="mb-0">{{ object.desc }}</p>
        <p class="mb-0"><small class="text-muted">Publishing date: {{object.date}} </small></p>
    </div>
</div>




<div class="row px-0">

    <div class="col-md-12 mb-2">
        <div class="d-flex align-items-center">
            <h3 class="my-0 me-2">Articles</h3>
            {% if request.user in object.journal.editors.all %}
                <a href="{% url 'literature:article-create' object.pk %}"><em>(Add a new article)</em></a>
            {% endif %}
        </div>
    </div>

    <div class="col"></div>
        {% for article in articles %}
            <div class="card shadow-sm my-2">
                <div class="card-body">
                    <a href="{% url 'literature:article-detail' article.slug %}"><h4 class="card-title"> {{article.name}} </h4></a>
                    <p class="card-subtitle text-muted small mb-3">
                        {% for a in article.authors.all %}
                            {% if not forloop.last %}
                                {{a.name}},
                            {% else %}
                                {{a.name}}
                            {% endif %}
                        {% endfor %}
                    </p>
                    <p class="card-text">
                        {{article.abstract|truncatewords:50}}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}


{% block scripts %}{% endblock scripts %}
